<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Create role</title>
</head>

<body class="d-flex justify-content-between">
<aside class="col-2 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <section class="logo">
        <h2>Movie management</h2>
    </section>
    <section>
        <a href="/movies">Movies</a>
    </section>
    <section>
        <a href="/actors">Actors</a>
    </section>
    <section>
        <a href="/roles">Roles</a>
    </section>
</aside>

<main class="col-10">
    <form action="/api/roles/create" method="post" class="form w-50" name="role">
        <h3>Create a role</h3>
        <label for="id_actor">Actor</label>
        <select name="id_actor" class="form-control" id="id_actor">
            {{#actors}}
            <option value="{{id}}">{{name}}</option>
            {{/actors}}
        </select>

        <label for="id_movie">Movie</label>
        <select name="id_movie" class="form-control" id="id_movie">
            {{#movies}}
            <option value="{{id}}">{{name}}</option>
            {{/movies}}
        </select>

        <input type="submit" value="Create a role" class="btn btn-primary mt-4">
    </form>
</main>
</body>
</html>